<div class="flex justify-center items-center h-screen bg-gradient-to-br from-blue-200 to-purple-200">
  <div class="w-1/2 mx-auto bg-white rounded-lg shadow-lg p-8 overflow-y-auto" style="max-height: calc(100vh - 100px);">
    <h1 class="text-3xl font-bold mb-8">Update Token</h1>
    <div class="flex">
      <div class="bg-gray-200 w-1/2 p-4 border border-gray-400 rounded-l-lg">
        <span class="text-lg font-semibold text-gray-800">Token</span>
      </div>
      <div class="bg-gray-300 w-1/2 p-4 border border-gray-400 rounded-r-lg break-words">
        <span class="text-lg text-gray-800">{{ token.token }}</span>
      </div>
    </div>

    <div class="flex mt-4">
      <div class="bg-gray-200 w-1/2 p-4 border border-gray-400 rounded-l-lg">
        <span class="text-lg font-semibold text-gray-800">User Name</span>
      </div>
      <div class="bg-gray-300 w-1/2 p-4 border border-gray-400 rounded-r-lg">
        <span class="text-lg text-gray-800">{{ token.username }}</span>
      </div>
    </div>

    <button class="my-8 py-3 px-6 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition duration-300 shadow-md"
      (click)="onUpdate()">
      Update
    </button>
  </div>
</div>